/* Start https://www.cursors-4u.com */ 
* {
  cursor: url(https://cur.cursors-4u.net/nature/nat-10/nat945.ani), 
  url(https://cur.cursors-4u.net/nature/nat-10/nat945.png), auto !important;
}
/* End https://www.cursors-4u.com */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

@font-face {
  font-family: "Font Family 1";
  src: url(../fonts/Raleway-Black.ttf) format("truetype");
}

@font-face {
  font-family: "Font Family 2";
  src: url(../fonts/Merriweather-Black.ttf) format("truetype");
}

h1 {
  font-family: "Font Family 2", sans-serif;
  font-size: 50px;
  margin: 0;
}

h2 {
  font-family: "Font Family 2", sans-serif;
  font-size: 30px;
  margin: 0;
}

.splashcontainer {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

img {
  max-width: 500px;
}

/*.image {
  flex-basis: 70%;
}*/

.text {
  padding-left: 10px;
  padding-right: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
} 
  /* Ref: https://www.w3schools.com/cssref/tryit.asp?filename=trycss_sel_after_style */
  /* inserts something after the content */
  /* if removed, the content of next tag will be right next to the nav bar */
  nav ul::after {
    /* OR nav > ul::after --- ">" immediate after parent tag */
    content: "";
    display: block;
    clear: both;
    /* The element is pushed below both left and right floated elements. Ref: https://www.w3schools.com/cssref/pr_class_clear.asp */
  }
  
  nav ul li a {
    /* OR nav > ul > li > a --- ">" immediate after parent tag */
    /* allows to set a width and height on the element, ref: https://www.w3schools.com/css/tryit.asp?filename=trycss_inline-block_span1 */
    background-color: #373737;
    display: inline-block;
    color: #80C525;
    font-family: "Font Family 1", sans-serif;
    font-size: 14.3px;
    /* padding: top right bottom left */
    padding: 10px 20px 10px 10px;
    text-decoration: none;
    width: auto;
  }
nav ul li a:hover {
  color: #ccc;
}
  /* top level */
  nav>ul>li {
    float: left;
    /* make nav item align hortizontally */
  }
  
  #navLogo {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
  }
  
  a.logo {
    width: 70px;
    height: 70px;
    display: block;
    background: url(../images/logo.png) no-repeat 0 0;
    /* 0 0 are x,y coordination in relation to width and height setting */
    background-size: contain;
    float: left;
  }
  
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #373737;
  }
  
  #navDropdown {
    display: none;
  }
  
  .dropdown {
    display: block;
    left: 0;
  }
  
  .dropbtn {
    background-color: rgba(0, 102, 102, 0);
    color: #80C525;
    padding: 16px;
    font-family: "Font Family 1", sans-serif;
    font-size: 16px;
    border: none;
    cursor: pointer;
    line-height: normal;
  }
  
  .dropbtn:hover {
    color: #F2F1F1;
  }
  
  .dropdown-content {
    display: none;
    font-family: "Font Family 1", sans-serif;
    /* set display to none, so dropdown menu won't show till hover dropdown */
    position: absolute;
    background-color: #373737;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    /*z-index: 1;*/
  }
  
  .dropdown-content a {
    font-family: "Font Family 1", sans-serif;
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    line-height: normal;
  }
  
  .dropdown-content a:hover {
    background-color: #80C525;
    color: #000000 !important;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover {
    background-color: #80C525;
    color: #000000 !important;
  }
  
  .active-page {
    background-color: #F2F1F1;
    color: #000000 !important;
  }
    
  .active-menu-item {
    background-color: #F2F1F1;
    color: #000000 !important;
  }
  
  .to-top {
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
  }
  
  .padding-right {
    padding-right: 15px;
  }
  
  footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
  }
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font: 16px Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.generic-anchor {
  color: #80C525;
}
.generic-anchor:visited {
  color: #0d3305;
}
.generic-anchor:hover {
  color: #ccc;
}

.flex-rw {
  display: flex;
  flex-flow: row wrap;
}

main {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font: 10em "Font Family 1", sans-serif;
  margin-top: 0;
  color: #9b9b9b;
  line-height: 1;
}

footer {
  background: #373737;
  margin-top: auto;
  width: 100%;
}

.footer-list-top {
  width: 50%;
}

.footer-list-top > li {
  text-align: center;
  padding-bottom: 0px; /* test */
  margin-bottom: 0;
}

.footer-list-header {
  margin-top: 0;
  color: #fff;
  font: 2.3vw "Font Family 1", sans-serif;
}

.footer-list-anchor {
  font: 1.3em "Font Family 1", sans-serif;
}

.footer-social-section {
  width: 100%;
  align-items: center;
  justify-content: space-around;
  position: relative;
  margin-top: 5px;
}

.footer-social-section::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 10px;
  border-top: 1px solid #ccc;
  width: calc(100% - 20px);
}

.footer-social-overlap {
  position: relative;
  z-index: 2;
  background: #373737;
  padding: 0 20px;
}

.footer-social-connect {
  display: flex;
  align-items: center;
  font: 3.5em "Font Family 1", sans-serif;
  color: #fff;
  margin-top: 0;
}

.footer-social-small {
  font-size: 0.6em;
  padding: 0px 20px;
}

.footer-social-overlap > a {
  font-size: 3em;
}

.footer-social-overlap > a:not(:first-child) {
  margin-left: 0.38em;
}

.footer-bottom-section {
  width: 100%;
  padding: 10px;
  border-top: 1px solid #ccc;
  margin-top: 10px;
}

.footer-bottom-section > div:first-child {
  margin-right: auto;
}

.footer-bottom-wrapper {
  font-size: 1.5em;
  color: #fff;
}

.footer-address {
  display: inline;
  font-style: normal;
}
@media only screen and (max-width: 820px) {
  /* Hide the regular navigation links */
  #navRight {
    display: none;
  }
  
  /* Show the hamburger button and dropdown menu */
  #navDropdown {
    display: block;
  }

@media only screen and (max-width: 768px) {
  .footer-list-header {
    font-size: 2em;
  }

  .footer-list-anchor {
    font-size: 1.1em;
  }

  .footer-social-connect {
    font-size: 2.5em;
  }

  .footer-social-overlap > a {
    font-size: 2.24em;
  }

  .footer-bottom-wrapper {
    font-size: 1.3em;
  }
}
@media only screen and (max-width: 568px) {
  main {
    font-size: 5em;
  }

  .footer-list-top {
    width: 100%;
  }

  .footer-list-header {
    font-size: 3em;
  }

  .footer-list-anchor {
    font-size: 1.5em;
  }

  .footer-social-section {
    justify-content: center;
  }

  .footer-social-section::after {
    top: 25%;
  }

  .footer-social-connect {
    margin-bottom: 10px;
    padding: 0 10px;
  }

  .footer-social-overlap {
    display: flex;
    justify-content: center;
  }

  .footer-social-icons-wrapper {
    width: 100%;
    padding: 0;
  }

  .footer-social-overlap > a:not(:first-child) {
    margin-left: 20px;
  }

  .footer-bottom-section {
    padding: 0 5px 10px 5px;
  }

  .footer-bottom-wrapper {
    text-align: center;
    width: 100%;
    margin-top: 10px;
  }
}
@media only screen and (max-width: 480px) {
  .footer-social-overlap > a {
    margin: auto;
  }

  .footer-social-overlap > a:not(:first-child) {
    margin-left: 0;
  }

  .footer-bottom-rights {
    display: block;
  }
}
@media only screen and (max-width: 320px) {
  .footer-list-header {
    font-size: 2.2em;
  }

  .footer-list-anchor {
    font-size: 1.2em;
  }

  .footer-social-connect {
    font-size: 2.4em;
  }

  .footer-social-overlap > a {
    font-size: 2.24em;
  }

  .footer-bottom-wrapper {
    font-size: 1.3em;
  }
}
  
body {
  background-color: #F2F1F1;
}